


/*
  Header
*/
header {
  background-color: white;
}
header .top-menu {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 10;
  width: 100%;
}
header nav {
  background-color: white;
  border-radius: 25px;
  padding: 10px 10px;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  header .top-menu {
    position: static;
    width: 100%;
  }
  header nav {
    border-radius: 0 !important;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.04);
    padding: 20px 10px;
  }
}
header .logo {
  font-size: 25px;
  font-weight: bold;
  margin-right: 15px;
}

header .links, header .language {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}

header .links a, header .language a {
  font-size: 18px;
  padding: 0 10px;
  color: #1b1e21;
  font-width: 400;
}

header .header-container {
  direction: ltr;
}
header .header-img {
  max-width: 650px;
  margin: 100px 0;
}
header .header-img img {
  width: 100%;
}
header .header-info {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  padding-right: 70px;
  direction: rtl;
}
@media (max-width: 991px) {
  header .header-info {
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  header .header-info .header-info--subinfo {
    text-align: center;
  }
}
.hello-label {
  font-size: 30px;
  font-weight: bold;
  color: #858c97;
}
.header-info > div.header-title {
  font-size: 80px;
  margin-top: -10px;
  color: #1b1e21;
  font-weight: 800;
}

.header-info .header-info--subinfo {
  font-size: 25px;
  font-weight: normal;
  color: #373f44;
  max-width: 600px;
}

.header-cv {
  display: flex;
  direction: rtl;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.cv-label {
  font-size: 30px;
  color: #1b1e21;
  font-weight: bold;
  margin-left: 20px;
}
.cv-button {
  font-size: 20px;
  display: inline-block;
  align-self: flex-start;
  color: white;
  padding: 7px 0;
  text-align: center;
  width: 220px;
  box-sizing: border-box;
  margin-left: 20px;
}

.header-cv .cv-button.cv-pdf {
  background-color: #005cbf;
  border: 3px solid #005cbf;
  border-radius: 25px;
}
.header-cv .cv-button.cv-html {
  color: #1b1e21;
  border: 3px solid #005cbf;
  border-radius: 25px;
  color: #005cbf;
}


@media (max-width: 1240px) {
  header .hello-label {
    font-size: 25px;
  }
  .header-info > div.header-title {
    font-size: 50px;
  }
  .header-info .header-info--subinfo {
    font-size: 20px;
  }
  .cv-button {
    font-size: 18px;
  }
}



/*
  Cantact ME
*/
.contact-me {
  margin-top: 200px;
}

.contact-me__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.contact-me__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.04);
  margin: 15px 0;
  transition: all 300ms ease-in-out;
}

.contact-me__item:hover {
  transform: scale(1.08);
}

.contact-me__logo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 20px;
}

@media (max-width: 450px) {
  .contact-me__logo {
    width: 70px;
    height: 70px;
  }
  .contact-me__item {
    text-align: center;
    font-size: 12px;
    width: 140px;
    height: 140px;
    padding: 20px 5px;
    margin: 10px;
  }
}

/* ------------------------ */
.social-pages {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-pages__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
}

.social-pages__item {
  background-color: white;
  border-radius: 16px;

  -webkit-box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.04);

  width: 140px;
  height: 140px;
  /* aspect-ratio: 1; */
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 300ms ease-in-out;
  margin: 20px;
}

.social-pages__item:hover {
  transform: scale(1.08);
}

.social-pages__icon {
  width: 100%;
}

@media (max-width: 450px) {
  .social-pages__item{
      width: 140px;
      height: 140px;
      margin: 10px;
  }
}

/* --------------- */
.footer {
  font-size: 14px;
  margin: 50px 0 20px;
  color: rgba(0, 0, 0, 0.445);
}
